<template>
  <div class="about">
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import NuevoItem from '../components/NuevoItem.vue'

const router = useRouter()

onMounted(() => {
  
 
</script>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
