<template>
  <div class="about">
    <h1 v-if="countdown !== 0" > En {{ countdown }} segundos saldra un boton que lo dirigira al home</h1>
    <NuevoItem v-if="countdown === 0" />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import NuevoItem from '../components/NuevoItem.vue'

const countdown = ref(9) 
const router = useRouter()

onMounted(() => {
  
  const timer = setInterval(() => {
    countdown.value--
    if (countdown.value === 0) {
      clearInterval(timer)
      
    }
  }, 1000)
})
</script>

<style scoped>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
