<template>
    <div>
      <button :class="{ 'clicked': clicked }">Dame click</button>
    </div>
  </template>
  
  <script setup lang="ts">
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  
  const router = useRouter()

  

  const clicked = ref(false)
  

  </script>
  
  <style scoped>
  .clicked {
    color: blue; 
    cursor: pointer; 
  }

  .button{
    color: aquamarine;
    font-size: large;
  }

  </style>
  