<template>
  <div class="container">

    <h1 v-if="isVista2View">Este componente solo funciona desde NavbarView</h1>
    <h1>Hola!</h1>
    <button @click="redirectToWelcome">Adiós!</button>
  </div>
</template> 

<script setup lang="ts">
import { useRouter } from 'vue-router';

const router = useRouter();

const isVista2View = router.currentRoute.value.name === 'Vista2View'; 

const redirectToWelcome = () => {
  router.push({ path: '/' });
};
</script>

<style scoped>
.container {
  text-align: center; 
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #874c11;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7c0a3a;
}
</style>
