<template>
  <div>
    <header class="menu-header">
      <nav>
        <template v-for="(item, index) in listamenu" :key="item.path">
          <RouterLink :to="item.path" :class="{ 'unclickable': index % 2 !== 0 || index == 0 }">{{ item.name }}</RouterLink>
        </template>
      </nav>
    </header>
  </div>

  <main>
    <RouterView />
  </main>

</template>

<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import router from './router';

const listamenu = router.options.routes
</script>

<style scoped>
.menu-header {
  width: 100%;
  background-color: #400848; 
  padding: 1rem; 
  box-shadow: 0 2px 4px rgba(66, 8, 8, 0.779); 
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 0.5rem 1rem; 
  margin: 0 0.5rem; 
  text-decoration: none;
  color: #7b4f4f; 
  font-weight: bold; 
}

nav a:hover {
  background-color: #8e3131; 
}

.unclickable {
  pointer-events: none; 
  color: #999;
}
</style>
